#container{
	width: 1200px;
	height: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border:2px; 
}
#topo{
	height: 150px;
	background-color: blue
}
#tituloLogo{
	float: left;
}
#menu{
	height: 50px;
	background-color: gray;
}
#menuPrincipal{
	float: left;
	display: inline-block;

}
#corpo{
	height: 880px;
	background-color: orange;

}
#rodape{
	background-color: black;

}
#slides{
	overflow: hidden;
}
#slides figure {
	position: relative;
	width:500% ;
	margin:2px;
	left:auto; ;
	animation: 20s slides infinite;
}
#slides figure img {
	width:20% ;
	float: left;
}
@keyframes {
	0% {
		left: 0;
	}
	30% {
		left: 0;
	}
	35% {
		left: -100;
	}
	65% {
		left: -100;
	}
	70% {
		left: -200;
	}
	100% {
		left: -200;
	}

}

