#container{
	width: 1300px;
	height: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border:2px; 
}

#topo{
	height: 150px;
	background-color: blue
}

#tituloLogo{
	float: left;
}

#menu{
	height: 50px;
	background-color: gray;
	list-style: none;
	position: fixed;
	right: 120px;
	border-bottom: 2px solid #222;



}
#foto {
	right: 220px;
	left: 220px;
}
a {
	text-decoration: none;
}

#home {
	color:#fc8c03
}
#interesses{
	background-color:  lightgreen

}
#experiencias{
	background-color:  lightgreen
	

}
#menu ul {
	list-style: none;
}
#menu li{
	display: inline-block;
	background-color: #dddddd;
	padding: 2px;

}
#corpo{
	height: 880px;
	background-color: orange;

}
#rodape{
	background-color: black;

}
#slides{
	overflow: hidden;
	background-position: center;
}
#slides figure {
	position: relative;
	width:500% ;
	margin:0;
	left:0;
	animation: 20s slides infinite;
}
#slides figure  img {
	width:20% ;
	float: left;
}
@keyframes  slides {
	0% {
		left: 0%;
	}
	30% {
		left: 0%;
	}
	35% {
		left: -100%;
	}
	65% {
		left: -100%;
	}
	70% {
		left: -200%;
	}
	100% {
		left: 0%;
	}
	

}
#descrito {
	right: 20px;
	left: 20px;
}

